version: '2'
services:
  jenkins:
    container_name: jenkins
    image: jenkins:2.46.1
    ports:
      - "9393:8080"
    restart: always
    volumes:
      - ./data/var/jenkins:/var/jenkins_home
      - ./data/var/android/sdk:/var/android/sdk
      - ./data/var/android/ndk:/var/android/ndk