version: '2'

services:
  db:
    image: mariadb
    restart: always
    volumes:
      - ./data/var/lib/mysql:/var/lib/mysql
    environment:
      - MYSQL_ROOT_PASSWORD=nextcloud
      - MYSQL_PASSWORD=nextcloud
      - MYSQL_DATABASE=nextcloud
      - MYSQL_USER=nextcloud
  app:  
    image: nextcloud
    ports:
      - 8888:80
    links:
      - db:mysql
    volumes:
      - ./data/var/www/html:/var/www/html
    restart: always
